[user]
	name = Brian Aung
	email = brianaung16@gmail.com

[init]
	defaultBranch = main

[core]
	editor = nvim

[alias]
  # basic commands
	st = status
	ci = commit
	co = checkout
	br = branch
  # advanced commands
  unstage = reset HEAD --      # remove staged (git add) files which has not been committed
  uncommit = reset --soft HEAD~1   # undo the previous commit, but they will remain staged
  last = log -1 HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[push]
    default = current

[pull]
	rebase = false
